*{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
body{
    background-color: rgb(62, 62, 62);
    color: white;
     
}
button{
    /* margin: 10px; */
    padding: 10px;
    background-color: #0d6efd;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 7px;
    color: white;
}
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 15px;
}

.innerDiv{
    width: 700px;
    height: 300px;
    border: 2px solid white;
}
button:active{
    background-color: #80b0f8;
}